{% extends 'base.html' %}
{% block content %}
<h1>Hello {{name}}!!!!</h1>
<div className="REG">
<form action="Register" method='Post'>
    {% csrf_token %}
    Enter FullName:<input type ="text" name="FullName"><br>
    Enter UserName :<input type="text" name="Username"><br>
    Enter Password :<input type="password" name="Password"><br>
    Enter Contact Number:<input type="number" name='ContactInfo'><br>
    Enter Confrim Password:<input type="password" name="ConfrimPassword"><br>

    <input type="Submit">
</form>
</div>
<body>
    Your Registration has been sucessfull!
</body>
{% endblock %}